{% extends 'mat.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<style>
  .row1{
    padding: 30px;
  }
  .c1{
    margin-top: 10px;
    
  }
 
 

 
</style>

<!-- workdone -->

<div class=" row row1" style="background-color: #565656;">
  <div class="col-lg-12">
    <h1 class="text-center text">Work Done</h1>
    <div class="row " >
      <div class="col-lg-4 col-md-6">
         <div class="card mb-3 card-done" style="max-width: 540px;">
              <div class="row no-gutters hover-zoomin" st>
                <div class="col-lg-4 col-md-6 ">
                  <img src="{% static 'img/done1.jpg' %}" class="img-fluid" alt="Responsive image"alt="...">
                </div>
                <div class="col-lg-8 col-md-6 ">
                  <div class="card-body">
                    <h5 class="card-title"> name/place</h5>
                    <p class="card-text">review given by the user to the work</p>
                    <p class="card-text"><small class="text-muted">work done date and time</small></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-lg-4 col-md-6">
      
          <div class="card mb-3 card-done" style="max-width: 540px;">
              <div class="row no-gutters hover-zoomin">
                <div class="col-lg-4 col-md-6">
                  <img src="{% static 'img/d2.jpg' %}" class="img-fluid" alt="Responsive image" alt="...">
                </div>
                <div class="col-lg-8 col-md-6">
                  <div class="card-body">
                    <h5 class="card-title">name/place</h5>
                    <p class="card-text">review given by the user to the work.</p>
                    <p class="card-text"><small class="text-muted">work done date and time</small></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-lg-4 col-md-6">
    
          <div class="card mb-3 card-done" style="max-width: 540px;">
              <div class="row no-gutters hover-zoomin">
                <div class="col-lg-4 col-md-6">
                  <img src="{% static 'img/d3.jpg' %}" class="img-fluid" alt="Responsive image" alt="...">
                </div>
                <div class="col-lg-8 col-md-6">
                  <div class="card-body">
                    <h5 class="card-title"> name/place</h5>
                    <p class="card-text">review given by the user to the work.</p>
                    <p class="card-text"><small class="text-muted">work done date and time</small></p>
                  </div>
                </div>
              </div>
            </div>
      </div>
      <div class="col-lg-4 col-md-6">
      
        <div class="card mb-3 card-done" style="max-width: 540px;">
            <div class="row no-gutters hover-zoomin">
              <div class="col-lg-4 col-md-6">
                <img src="{% static 'img/d2.jpg' %}" class="img-fluid" alt="Responsive image" alt="...">
              </div>
              <div class="col-lg-8 col-md-6">
                <div class="card-body">
                  <h5 class="card-title">name/place</h5>
                  <p class="card-text">review given by the user to the work.</p>
                  <p class="card-text"><small class="text-muted">work done date and time</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    <div class="col-lg-4 col-md-6">
    
      <div class="card mb-3 card-done" style="max-width: 540px;">
          <div class="row no-gutters hover-zoomin">
            <div class="col-lg-4 col-md-6 ">
              <img src="{% static 'img/d3.jpg' %}" class="img-fluid" alt="Responsive image" alt="...">
            </div>
            <div class="col-lg-8 col-md-6">
              <div class="card-body">
                <h5 class="card-title"> name/place</h5>
                <p class="card-text">review given by the user to the work.</p>
                <p class="card-text"><small class="text-muted">work done date and time</small></p>
              </div>
            </div>
          </div>
        </div>
  </div>
  <div class="col-lg-4 col-md-6">
    <div class="card mb-3 card-done" style="max-width: 540px;">
         <div class="row no-gutters hover-zoomin" st>
           <div class="col-lg-4 col-md-6">
             <img src="{% static 'img/done1.jpg' %}" class="img-fluid" alt="Responsive image" alt="...">
           </div>
           <div class="col-lg-8 col-md-6">
             <div class="card-body">
               <h5 class="card-title"> name/place</h5>
               <p class="card-text">review given by the user to the work</p>
               <p class="card-text"><small class="text-muted">work done date and time</small></p>
             </div>
           </div>
         </div>
       </div>
 </div>
    </div>

  </div>
  
</div>
<!-- endworkdone -->

<!-- pending work -->
  

<div class=" row row1" style="background-color: #9e9e9e;">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="text-center text">PENDING WORK</h1> 
      </div>
    </div>
    <div class="row mx-auto" >
      <div class=" col-lg-4 col-md-6 col-sm-6 c1 ">
        <div class="card" style="width: 18rem; border-radius: 30px;">
          <div class="card-body text-center">
            <h5 class="card-title">User's Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Place</h6>
            <p class="card-text">Discreption about work he want</p>
            <a href="#" class="btn btn-grad ">View contact Details</a>
            <button type="button" class="btn btn-primary1 btn-sm save ">Accept</button>
            <button type="button" class="btn btn-primary btn-sm save ">Reject</button>
           
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 c1  ">
        <div class="card" style="width: 18rem; border-radius: 30px;">
          <div class="card-body text-center">
            <h5 class="card-title">User's Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Place</h6>
            <p class="card-text">Discreption about work he want</p>
            <a href="#" class="btn btn-grad ">View contact Details</a>
            <button type="button" class="btn btn-primary1 btn-sm save ">Accept</button>
            <button type="button" class="btn btn-primary btn-sm save ">Reject</button>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 c1 ">
        <div class="card" style="width: 18rem; border-radius: 30px;">
          <div class="card-body text-center">
            <h5 class="card-title">User's Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Place</h6>
            <p class="card-text">Discreption about work he want</p>
            <a href="#" class="btn btn-grad ">View contact Details</a>
            <button type="button" class="btn btn-primary1 btn-sm save ">Accept</button>
            <button type="button" class="btn btn-primary btn-sm save ">Reject</button>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 c1 ">
        <div class="card" style="width: 18rem; border-radius: 30px;">
          <div class="card-body text-center">
            <h5 class="card-title">User's Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Place</h6>
            <p class="card-text">Discreption about work he want</p>
            <a href="#" class="btn btn-grad ">View contact Details</a>
            <button type="button" class="btn btn-primary1 btn-sm save ">Accept</button>
            <button type="button" class="btn btn-primary btn-sm save ">Reject</button>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 c1  ">
        <div class="card" style="width: 18rem; border-radius: 30px;">
          <div class="card-body text-center">
            <h5 class="card-title">User's Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Place</h6>
            <p class="card-text">Discreption about work he want</p>
            <a href="#" class="btn btn-grad ">View contact Details</a>
            <button type="button" class="btn btn-primary1 btn-sm save ">Accept</button>
            <button type="button" class="btn btn-primary btn-sm save ">Reject</button>
            
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 c1 ">
        <div class="card" style="width: 18rem; border-radius: 30px;">
          <div class="card-body text-center">
            <h5 class="card-title">User's Name</h5>
            <h6 class="card-subtitle mb-2 text-muted">Place</h6>
            <p class="card-text">Discreption about work he want</p>
            <a href="#" class="btn btn-grad ">View contact Details</a>
            <button type="button" class="btn btn-primary1 btn-sm save ">Accept</button>
            <button type="button" class="btn btn-primary btn-sm save ">Reject</button>
            
          </div>
        </div>
      </div>
    
      
    </div>

  </div>
 
</div>

<!-- end pending work -->


{% endblock %}









































