{% extends 'master.html' %}
{% block content %}
{% load static %}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<style>
    .fa-map-marker,
    .fa-phone,
    .fa-envelope {
        font-size: 25px;
        font-weight: bold
    }

    .iconcon {
        /* color: rgb(105, 27, 179) */
        color: #004e92;
    }

    .contact-info {
        /* justify-content: center; */
        text-align: center;
    }

    .contact:hover {
        background-color: #fff;
        border-radius: 5px;
        cursor: pointer;
        position: relative
    }

    .cont-img {
        position: relative;
    }

    /* .cont-img h2{
      position: absolute;
      top:600px;
      padding-left: 630px;
      color: black;
      font-weight: 600;

    } */


    .contact__wrapper {
        background-color: #fff;
        border-radius: 0 0 .625rem .625rem;
        position: relative;
        top: -81px;

    }


    .shadow-lg,
    .shadow-lg--on-hover:hover {
        box-shadow: 0 1rem 3rem rgba(132, 138, 163, 0.1) !important;
    }

    .iframe-container {
        position: relative;
        width: 100%;
        padding-bottom: 62.5%;
        /* Ratio 16:9 ( 100%/16*9 = 56.25% ) */
    }

    .iframe-container>* {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
    }
</style>
<div class="container-fluid">
    <div class="row cont-img text-center mx-auto">
        <img src="{% static 'img/con2.jpg' %}" class="img-thumbnail" alt="...">
    </div>
</div>


<div class="container">
    <div class="contact__wrapper shadow-lg mt-n9">
        <div class="row no-gutters">
            <div class="col-lg-12">
                <h3 class="text-center" style="color: #4835d4;"> Contact Us</h3>
                <br>
                <hr>
                <div class="row">
                    <div class="col-lg-6 contact-formwrapper p-5 order-lg-1">
                        <form action="#" class="contact-form form-validate" id="contact">

                            <div class="row">
                                <div class="col-sm-6 mb-3">
                                    <div class="form-group">
                                        <label class="required-field" for="firstName">First Name</label>
                                        <input type="text" class="form-control" id="firstName" name="firstname1"
                                            placeholder="">
                                    </div>
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <div class="form-group">
                                        <label for="lastName">Last Name</label>
                                        <input type="text" class="form-control" id="lastName" name="lastname"
                                            placeholder="">
                                    </div>
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <div class="form-group">
                                        <label class="required-field" for="email">Email</label>
                                        <input type="text" class="form-control" id="email" name="email" placeholder="">
                                    </div>
                                </div>

                                <div class="col-sm-6 mb-3">
                                    <div class="form-group">
                                        <label for="phone">Phone Number</label>
                                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="">
                                    </div>
                                </div>

                                <div class="col-sm-12 mb-3">
                                    <div class="form-group">
                                        <label class="required-field" for="message">How can we help?</label>
                                        <textarea class="form-control" id="message" name="mess" rows="4"
                                            placeholder=""></textarea>
                                    </div>
                                </div>

                                <div class="col-sm-12 mb-3">
                                    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
                                </div>


                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-12 p-5">
                        <div class="iframe-container">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31320.27850436185!2d75.99858919951288!3d11.110783394080345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba64942a5d9acad%3A0x13efccea5b273256!2sArimbra%2C%20Kerala%20673638!5e0!3m2!1sen!2sin!4v1642919943699!5m2!1sen!2sin"
                                width="500" height="350" style="border:0;" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <!-- End Contact Form Wrapper -->

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 justify-content-center">
            <div class="d-flex justify-content-center pt-5">
                <h2 class="font-weight-bold">Get in touch!</h2>
            </div>
            <div class="d-flex justify-content-center text-muted">Contact us for a quote, help to join the team.
            </div>
            <div class="d-md-flex flex-md-row justify-content-center py-4">
                <div class="d-md-flex flex-md-column contact px-4">
                    <div class="d-md-flex justify-content-center iconcon py-2"> <span class="fa fa-map-marker"></span>
                        <span class="mobile-info text-dark p-2 pb-3">Location</span>
                    </div>
                    <div class="contact-info justify-content-center">Malappuram Arimbra</div>
                </div>
                <div class="d-flex flex-column contact px-4">
                    <div class="d-md-flex justify-content-center iconcon py-2"> <span class="fa fa-phone"></span> <span
                            class="mobile-info text-dark p-2 pb-3">Phone</span> </div>
                    <div class="contact-info">989838899</div>
                </div>
                <div class="d-flex flex-column contact px-4">
                    <div class="d-md-flex justify-content-center iconcon py-2"> <span class="fa fa-envelope"></span>
                        <span class="mobile-info text-dark p-2 pb-3">Email Address</span>
                    </div>
                    <div class="contact-info">Ecjob@gmail.com</div>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="{% static 'js/contact.js' %}"></script>

<script>
 

</script>

{% endblock %}