{% extends 'master.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<style>
  .row1{
    padding: 30px;
  }
  .card1{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    height: 500px;

  }

   .card1:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }
  .search{
    width: 250px;
    
  }
  .search_btn{
/* background-color: transparent; */
border-radius: 20px;
color: white;
  }
  .serbox{
    height: 130px;
    width: 120px;
    /* background-color: #cfcecc; */
    float: left;
    padding: 10px;
   margin: 10px 0 0 50px;
   transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.serbox:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  }

  .hover-zoomin img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .hover-zoomin:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }

.serbox img{
  height: 70px;
  width: 70px;
}
.viewbtn{
  height: 30px;
  width: 100px;
  background-color: transparent;
  border-radius: 20px;
  margin-top: 10px;
}

</style>

<!-- slider -->

<div class="container-fluid">
  <div class="row  ">
    <div class="col-lg-12">
      <img src="{% static 'img/img1e1.jpg' %}" class="img-fluid" alt="...">
      <div class="carousel-caption d-none d-md-block "  >
       <!-- heading and animation -->
        <h5 class="animated slideInDown" style="animation-delay: 1s;">Start Working with Us</h5>
        <p class="lead animated fadeInUp" style="animation-delay: 2s;">"We are free and ready to start whenever you need me. Regarding the hours, We are flexible and willing to do work whenever you need ud the Team is ready."</p>
        <div class="input-group mx-auto search " >
          <input class="form-control py-2 border-right-0 border search_btn" type="search"  id="example-search-input" placeholder="Search..." >
          <span class="input-group-append">
              <button class="btn btn-outline-secondary border-left-0 border" type="button">
                  <i class="fa fa-search"></i>
              </button>
            </span>
      </div>
      <!-- end heading and animation -->    
    </div>

    
  
       
    </div>
  </div>


 <!-- end slider -->



 <!-- about -->

   <div class="padding">
    <section id="about" class="section-padding about-section">
      <div class="container" style="background-color: #F0F2F0 ;">
         <div class="row row1">
      <div class="col-md-6">
      <div class="section-title">
        <div class="section-subtitle"> About us </div>
        <h2 class="section-main-title">WE ARE <strong>CREATIVE</strong></h2>
      </div>
      <div class="about-item">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero sed cum repellat omnis tempore atque corporis quibusdam porro doloribus accusantium tenetur ipsam, qui quis odio suscipit nam id, Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt numquam eveniet, molestias explicabo at beatae illo neque nulla vel minima ipsam inventore hic sit soluta architecto quam amet accusantium culpa! cumque vitae? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam totam laudantium quas exercitationem asperiores, modi dicta earum? Incidunt aut exercitationem eos? Rerum modi reprehenderit tempora fuga accusamus odio sint sapiente.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam cum labore, esse saepe voluptates fuga dolor eveniet explicabo soluta nihil tenetur sapiente et reiciendis quo totam? Quam corrupti explicabo deserunt. 
        </p>
        <div class="hgt-20">
          <div class="home-button">
            <a href="" style="text-decoration: none;"><input type="button" value="Read More" class="btn-grad"></a>
          </div>
        </div>
      </div>
     </div>
      <div class="col-md-6">
        <div class="about-box">
          <div class="box-overlay"></div>
          <a href="#!" class="vediopopup">
            <img src="{% static 'img/img2.jpg' %}"  alt="">
            <span class="sonar-wrapper">
              <span class="sonar-emitter">
                <i class="fa fa-play"></i>
                <div class="sonar-wave"></div>

              </span>

            </span>
          </a>

        </div>
      </div>
    </div>
    </div>

   </section>

  </div>








  <!-- endabout -->
   
 




  




  <!-- bg img -->
  
 <div class="row row1 ">
    <div class="col-lg-12">
        <div id="home">
            <div class="landing-text">
                <h1>EC job</h1>
                <h3>welcome</h3>
                <a href="registration" class="btn btn-color-background ">Become a Partner</a>
            </div>
        </div>
    </div>
 </div>

   <!-- end bgimg -->

   <!-- service -->

<div class="row row1">
  <div class=" col-lg-12"> 
    <h2 class="ml-5"><u>Service Proving</u></h2>
  </div>
 <div class="col-lg-12 "> 
  <a href="view"> <div class="serbox  hover-zoomin"><img src="{% static 'img/service/car.png' %}" alt=""><h6 >carpenter</h6></div></a>
  <a href="view"> <div class="serbox  hover-zoomin"><img src="{% static 'img/service/clea.png' %}" alt=""><h6>cleaning</h6></div></a>
  <a href="view"> <div class="serbox  hover-zoomin"><img src="{% static 'img/service/comp.png' %}" alt=""><h6>computer repair</h6></div></a>
  <a href="view"> <div class="serbox  hover-zoomin"><img src="{% static 'img/service/elec.png' %}" alt=""><h6>Ectrician</h6></div></a>
  <a href="view"> <div class="serbox  hover-zoomin"><img src="{% static 'img/service/pest.png' %}" alt=""><h6>Pest control</h6></div></a>
  <a href="view"> <div class="serbox  hover-zoomin"><img src="{% static 'img/service/plum.png' %}" alt=""><h6>plumber</h6></div></a>
  <a href="view"> <div class="serbox  hover-zoomin"><img src="{% static 'img/service/rep.png' %}"  alt=""><h6>bike repair</h6></div></a>
  <a href="view"> <div class="serbox  hover-zoomin"><img src="{% static 'img/service/wash.png' %}" alt=""><h6>laundary</h6></div></a>
 </div>
    <a href="service" class="mx-auto" style="text-decoration: none;"><input type="button" value="View More" class="btn-grad"></a>
</div>


   <!--  end service -->


   <!-- pricing -->
 <div class="row row1">
    <div class="col-lg-12 text-center">
        <div class="jumbotron" id="special">
            <h1 class="display-4">Special Offers</h1>
            <p class="lead">A special offer is a product, service, or programme that is offered at reduced prices or rates. </p>
            <hr class="my-4">
            <div class="row ">
            <div class="col-md-4">
            <div class=" card card1 border-light mb-3 mx-auto  " style="max-width: 18rem; max-height:300px">
              
                <div class="card-header">Mega Plan</div>
                    <div class="card-body">
                  <h5 class="card-title">Price Depends/-</h5>
                  <p class="card-text">Building Construction Process from Start to Finish</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                 
                </div>
              </div>
            </div>
            <div class="col-md-4"  id="earn">
              <div class=" card card1 border-light mb-3 mx-auto " style="max-width: 18rem; max-height:300px">
                  <div class="card-header">Earn & Study</div>
                      <div class="card-body">
                    <h5 class="card-title">5000/-</h5>
                    <p class="card-text">Can work with us <br>can a Study a perticular</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                   
                  </div>
                </div>
              </div>
              <div class="col-md-4"  id="pre" >
                <div class=" card card1 border-light mb-3 mx-auto "style="max-width: 18rem; max-height:300px">
                    <div class="card-header">Premium member</div>
                        <div class="card-body">
                      <h5 class="card-title">10000/-</h5>
                      <p class="card-text">Instalment payment <br>Help center access <br>Special considration</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                     
                    </div>
                  </div>
                </div>
          </div>
              
              
           
          </div>
    </div>
 </div>
</div>

 <!-- endpricing -->

  








{% endblock %}




