{% extends 'master.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<style>
  .row1 {
    padding: 30px;
  }

  .card1 {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    height: 500px;

  }

  .card1:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
  }

  .search {
    width: 250px;

  }

  .search_btn {
    /* background-color: transparent; */
    border-radius: 20px;
    color: white;
  }

  .serbox {
    height: 130px;
    width: 210px;
    /* background-color: #cfcecc; */
    float: left;
    padding: 10px;
    margin: 13px 80px 0px 44px;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  }

  .serbox:hover {
    transform: scale(1.05);
  }

  .serbox1 {
    height: 130px;
    width: 210px;
    /* background-color: #cfcecc; */
    float: left;
    padding: 10px;
    margin: 13px 76px 0px 44px;
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
  }

  .serbox1:hover {
    transform: scale(1.05);
  }

  .hover-zoomin img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }

  .hover-zoomin:hover img {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }



  .viewbtn {
    height: 30px;
    width: 100px;
    background-color: transparent;
    border-radius: 20px;
    margin-top: 10px;
  }

  .ser a {
    color: black;
  }

  .ser h6 {
    font-size: medium;
    font-weight: 700;
  }

  .btn-grad1 {
    background-color: #689bce;
  }

  .btn-grad1 {
    /* margin: 10px;
     padding: 15px 45px; */
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
    background-size: 200%;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad1:hover {
    background-position: right center;
    color: rgb(0, 0, 0);
    text-decoration: none;
  }

  .trending {
    font-weight: 900;
  }

  @media (max-width:576px) {
    .package {
      font-size: 30px;
    }

  }

  @media (max-width:1200px) {
    .pricing li {
      font-size: 13px;
    }
  }

  @media (max-width:1050px) {
    .pricing li {
      font-size: 10px;
    }
  }

  @media (max-width:576px) {
    .pricing li {
      font-size: 15px;
    }
  }


 
</style> 

<!-- slider -->

<!-- <div class="container"> -->
  <button onclick="topFunction()" id="myBtn" title="Go to top"> <i class="fa fa-arrow-up"></i></button>
<div class="row  " style="margin: 0;">
  <div class="col-lg-12">

    <!--car  -->
    <div id="" class="carousel ">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/img1e1.jpg' %}" class="img-fluid" alt="...">
          <div class="carousel-caption d-none d-md-block cap">
            <h5 class="animated slideInDown" style="animation-delay: 1s;">Start Working with Us</h5>
            <p class="lead animated fadeInUp" style="animation-delay: 2s;">"We are free and ready to start whenever
              you need me. Regarding the hours, We are flexible and willing to do work whenever you need ud the Team
              is ready."</p>
            <div class="input-group mx-auto search ">
              <input class="form-control py-2 border-right-0 border search_btn" type="search" id="example-search-input"
                placeholder="Search...">
              <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end car -->

  </div>
</div>


<!-- end slider -->



<!-- about -->

<div class="padding">
  <section id="about" class="section-padding about-section">
    <div class="container" style="background-color: #F0F2F0 ;">
      <div class="row row1" style="margin: 0;">
        <div class="col-md-6">
          <div class="section-title">
            <div class="section-subtitle"> About us </div>
            <h2 class="section-main-title">WE ARE <strong>CREATIVE</strong></h2>
          </div>
          <div class="about-item">
            <p>
              Ec_job is your one-stop solution to sort all your home needs ranging from construction to maintenance,
              quickly, professionally and conveniently. We simplify your everyday living with a variety of at-home
              services, delivered by verified & qualified professionals only.
            </p>
            <p>
              You get to hire the professional of your choice to serve you. <br>We understand your requirements and
              cater to them just the way you like it. <br>Background verified, well trained and experienced
              professionals at your service
            </p>
            <div class="hgt-20">
              <!-- <div class="home-button">
                  <a href="" style="text-decoration: none;"><input type="button" value="Read More" class="btn-grad"></a>
                </div> -->
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="about-box">
            <div class="box-overlay"></div>
            <a href="#!" class="vediopopup">
              <img src="{% static 'img/img2.jpg' %}" alt="">
              <!-- <span class="sonar-wrapper">
                <span class="sonar-emitter">
                  <i class="fa fa-play"></i>
                  <div class="sonar-wave"></div>

                </span>

              </span> -->
            </a>

          </div>
        </div>
      </div>
    </div>

  </section>

</div>


<!-- endabout -->


<!-- bg img -->

<div class="row row1 " style="margin: 0;">
  <div class="col-lg-12">
    <div id="home">
      <div class="landing-text">
        <h1>EC job</h1>
        <h3>welcome</h3>
        <a href="registration" class="btn btn-color-background ">Become a Partner</a>
      </div>
    </div>
  </div>
</div>

<!-- end bgimg -->

<!-- service -->
<section class="pt-5 pb-5">

  <div class="row bg-light" style="margin: 0;">
    <div class=" col-lg-12">
      <h2 class="ml-5 trending"><u>Trending Service</u></h2>
    </div>
    <div class="col-lg-12 text-center">
      <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
        <i class="fa fa-arrow-left"></i>
      </a>
      <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
        <i class="fa fa-arrow-right"></i>
      </a>
    </div>
    <div class="col-lg-12 ">
      <div id="carouselExampleIndicators2" class="carousel slide text-center" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active ser">
            <div class="row">
              <div class="col-lg-12 col-md-12 mr-5 mb-3">
                <a href="view">
                  <div class="serbox hover-zoomin ">
                    <img class="img-fluid" style="width: 100px; height: 100px;"
                      src="{% static 'img/service/wash.png' %}">
                    <h6 class="pl-3">Laundary</h6>
                  </div>
                </a>
                <a href="view">
                  <div class="serbox hover-zoomin ">
                    <img class="img-fluid" style="width: 100px; height: 100px;"
                      src="{% static 'img/service/rep.png' %}">
                    <h6 class="pl-3">Bike Repair</h6>
                  </div>
                </a>
                <a href="view">
                  <div class="serbox hover-zoomin  ">
                    <img class="img-fluid" style="width: 100px; height: 100px;"
                      src="{% static 'img/service/plum.png' %}">
                    <h6 class="pl-3">Plumber</h6>
                  </div>
                </a>
                <a href="view">
                  <div class="serbox hover-zoomin ">
                    <img class="img-fluid" style="width: 100px; height: 100px;"
                      src="{% static 'img/service/pest.png' %}">
                    <h6 class="pl-3">Pest Control</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="carousel-item   ser">
            <div class="row" style="margin: 0;">
              <div class="col-lg-12 col-md-12 mb-3">
                <a href="view">
                  <div class="serbox1 hover-zoomin ">
                    <img class="img-fluid" style="width: 100px; height: 100px;"
                      src="{% static 'img/service/elec.png' %}">
                    <h6 class="pl-3">Electrician</h6>
                  </div>
                </a>
                <a href="view">
                  <div class="serbox1 hover-zoomin ">
                    <img class="img-fluid" style="width: 100px; height: 100px;"
                      src="{% static 'img/service/car.png' %}">
                    <h6 class="pl-3">Carpenter</h6>
                  </div>
                </a>
                <a href="view">
                  <div class="serbox1  hover-zoomin">
                    <img class="img-fluid" style="width: 100px; height: 100px;"
                      src="{% static 'img/service/clea.png' %}">
                    <h6 class="pl-3">Cleaning</h6>
                  </div>
                </a>
                <a href="view">
                  <div class="serbox1 hover-zoomin ">
                    <img class="img-fluid" style="width: 100px; height: 100px;"
                      src="{% static 'img/service/comp.png' %}">
                    <h6 class="pl-3">Computer Repair</h6>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <a href="service" class="mx-auto" style="text-decoration: none;"><input type="button" value="View More"
        class="btn-grad1"></a>
  </div>

</section>

<!-- end service -->



<!-- pricing -->
<div class="row row1" style="margin: 0;">
  <div class="col-lg-12 text-center">
    <div class="jumbotron" id="special">
      <h1 class="package"> Packages</h1>
      <p class="lead">Customise your package to build your perfect home!
      </p>
      <hr class="my-4">

      <div class="pricing card-deck flex-column flex-md-row mb-3">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div style="max-width: 18rem; max-height:400px" class="card card-pricing text-center px-3 mb-4 card1">
              <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom  text-white shadow-sm"
                style="background-color: #004e92;">STANDARD PACKAGE</span>
              <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="15">₹<span
                    class="price">1700</span><span class="h6 text-muted ml-2">/ Sqft</span></h1>
              </div>
              <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                  <li>Structure – branded and high quality </li>
                  <li>Bare shell – W/O Interiors</li>
                  <li> Free Consultation</li>
                  <li>Basic support</li>
                </ul> <button type="button" class="btn btn-outline-secondary mb-3 hvr " data-toggle="modal"
                  data-target="#stdmodal" style="background-color: hsla(234, 55%, 38%, 0.993); color: white;">View
                  More</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div style="max-width: 18rem; max-height:400px" class="card card-pricing text-center px-3 mb-4 card1">
              <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom  text-white shadow-sm"
                style="background-color: #004e92;">PREMIUM PACKAGE</span>
              <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="15">₹<span
                    class="price">2300</span><span class="h6 text-muted ml-2">/ Sqft</span></h1>
              </div>
              <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                  <li>Structure – branded and high quality </li>
                  <li> With Interior</li>
                  <li> Free Consultation</li>
                  <li>Basic support</li>
                </ul> <button type="button" class="btn btn-outline-secondary mb-3 hvr " data-toggle="modal"
                  data-target="#premodal" style="background-color: hsla(234, 55%, 38%, 0.993); color: white;">View
                  More</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div style="max-width: 18rem; max-height:400px" class="card card-pricing text-center px-3 mb-4 card1">
              <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom  text-white shadow-sm"
                style="background-color: #004e92;">SUPER PREMIUM</span>
              <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="15">₹<span
                    class="price">2500</span><span class="h6 text-muted ml-2">/ Sqft</span></h1>
              </div>
              <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                  <li>Structure – branded and high quality </li>
                  <li> With Interior</li>
                  <li> Free Consultation</li>
                  <li>Basic support</li>
                </ul> <button type="button" class="btn btn-outline-secondary mb-3 hvr " data-toggle="modal"
                  data-target="#supermodal" style="background-color: hsla(234, 55%, 38%, 0.993); color: white;">View
                  More</button>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div style="max-width: 18rem; max-height:400px" class="card card-pricing text-center px-3 mb-4 card1">
              <span class="h6 w-60 mx-auto px-4 py-1 rounded-bottom  text-white shadow-sm"
                style="background-color: #004e92;">LUXURY</span>
              <div class="bg-transparent card-header pt-4 border-0">
                <h1 class="h1 font-weight-normal text-primary text-center mb-0" data-pricing-value="15">₹<span
                    class="price">3000</span><span class="h6 text-muted ml-2">/ Sqft</span></h1>
              </div>
              <div class="card-body pt-0">
                <ul class="list-unstyled mb-4">
                  <li>Structure – branded and high quality </li>
                  <li> With Interior</li>
                  <li> Free Consultation</li>
                  <li>Basic support</li>
                </ul> <button type="button" class="btn btn-outline-secondary mb-3 hvr " data-toggle="modal"
                  data-target="#luxmodal" style="background-color: hsla(234, 55%, 38%, 0.993); color: white;">View
                  More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- endpricing -->


<!-- </div> -->


<!-- modal std -->
<div class="modal fade" id="stdmodal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">STANDARD PACKAGE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table" border="3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Items</th>
                <th scope="col">Features</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Car Porch Area</td>
                <td>Flooring: Paver tiles up to Rs 30/sqft <br> Electrical and plumbing points in this area</td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Entrance Area</td>
                <td>Polished granite flooring (steel grey or black) up to Rs 70/sqft <br> Teak Wood door with teak wood
                  <br> (Main door)Main door towel bolts, handles and lock to have bronze.
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Living room/Family room </td>
                <td>Vitrified floor up to Rs 110/ sqft</td>
              </tr>
              <tr>
                <th scope="row">4 </th>
                <td>Verandah </td>
                <td>Granite flooring up to Rs 120/sqft <br> Accent wall -texture paint or wallpaper (Size: 8’x10’) <br>
                  Shoe rack - 18mm commercial ply + 1mm laminate finish (internal white laminate and external with
                  laminate and louvers on each shutter)up to Rs 50/sqft with Hettich hardware/fittings.(Size : 4’ x 2’)
                  <br> Teak Wood door with teak wood frames with carving
                </td>
              </tr>
              <tr>
                <th scope="row"> 5</th>
                <td> Dining </td>
                <td>Vitrified flooring up to Rs 110/sqft</td>
              </tr>
              <tr>
                <th scope="row">6 </th>
                <td>Kitchen </td>
                <td>Modular kitchen with 18mm water proof ply + 18mm ply shutters with laminate at Rs 50/sqft with
                  Hettich/Godrej hardware. <br>Accessories: 1 cutlery, 2 Tandem boxes, 1 bottle pullout and 2 plain
                  baskets (Size: up to 60sqft) <br>20mm thick Black color granite top up to Rs 135/sqft <br>SS double
                  dipper sink <br>Copper gas piping<br> 2" x 2" vitrified marbonite finished tiles up to Rs 150/sqft<br>
                  Breakfast counter - black granite<br> Ceramic wall tiles above kitchen slab up to Rs 50/sqft </td>
              </tr>
              <tr>
                <th scope="row">7 </th>
                <td>Utility </td>
                <td> 10mm thick Black granite top<br> Double dipper SS sink<br> 2" x 2" vitrified tiles up to Rs
                  110/sqft
                  and ceramic tiles wall cladding where ever required up to Rs 40/ sqft (Only 4’ height wall)</td>
              </tr>
              <tr>
                <th scope="row"> 8</th>
                <td>Bedroom & washroom </td>
                <td> Vitrified tiles up to Rs 110/sqft <br> Toilet - ceramic tiles for floor and wall up to 7ft height
                  up
                  to Rs 40/sqft <br> Ventilator window as per the design<br> Rs 20,000/- allowances for bathroom
                  fixtures
                </td>
              </tr>
              <tr>
                <th scope="row">9 </th>
                <td>Stair case </td>
                <td> Semi polished granite flooring up to Rs 120/sqft <br>MS Railing </td>
              </tr>
              <tr>
                <th scope="row">10 </th>
                <td>Balcony </td>
                <td> Anti skid ceramic tiles for the flooring up to Rs 40/sqft<br> Railing</td>
              </tr>
              <tr>
                <th scope="row">11 </th>
                <td>Terrace </td>
                <td>Paver tiles for the flooring up to Rs 40/sqft<br> 1 Overhead tank – Sintex tank of 1000ltrs </td>
              </tr>
              <tr>
                <th scope="row"> 12</th>
                <td>Painting </td>
                <td>Plastic emulsion painting (Internal) – Asian<br> Exterior emulsion painting – Asian </td>
              </tr>
              <tr>
                <th scope="row">13 </th>
                <td>Electrical </td>
                <td>All conduits and wiring <br> Wires - Finolex. Switches – Anchor/Legrand <br> Switches and
                  switchboard
                  <br> Connections, points provided for UPS/AC points wherever required.
                </td>
              </tr>
              <tr>
                <th scope="row">14 </th>
                <td>Sump Work </td>
                <td>Sump with capacity up to 10,000 liters <br> Sump to be constructed with brick masonry </td>
              </tr>



            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Vist Later</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookmodal">Book Now</button>
      </div>
    </div>
  </div>
</div>
<!-- end std modal -->

<!-- pre modal  -->
<div class="modal fade" id="premodal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">PREMIUM PACKAGE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table" border="3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Items</th>
                <th scope="col">Features</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Car Porch Area</td>
                <td>Flooring: Paver tiles up to Rs 40/sqft <br> Electrical and plumbing points in this area/landscaping
                  area shall be provided as per Architects plan during stages of construction</td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Entrance Area</td>
                <td>Polished granite flooring (steel grey or black) up to Rs 120/ sqft </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Living room/Family room </td>
                <td>Italian marble flooring up to Rs 400/sqft<br> Designer gypsum false ceiling excluding curves and
                  wooden finish <br> Accent wall -texture paint or wallpaper (Size: 12’ x 10’)<br> Designer TV unit -
                  18mm commercial ply + laminate / veneer finish up to Rs50/sqft with Hettich hardware(Size:6’x6’)</td>
              </tr>
              <tr>
                <th scope="row">4 </th>
                <td>Verandah </td>
                <td>Granite flooring up to Rs 120/sqft <br> Accent wall -texture paint or wallpaper (Size: 8’x10’) <br>
                  Shoe rack - 18mm commercial ply + 1mm laminate finish (internal white laminate and external with
                  laminate and louvers on each shutter)up to Rs 50/sqft with Hettich hardware/fittings.(Size : 4’ x 2’)
                  <br> Teak Wood door with teak wood frames with carving <br>Main door towel bolts, handles and lock to
                  have bronze <br> Red Sal/UPVC shutter windows with red Sal/ UPVC frames
                </td>
              </tr>
              <tr>
                <th scope="row"> 5</th>
                <td> Dining & Courtyard area </td>
                <td>Vitrified flooring up to Rs 150/sqft <br>Crockery unit with 18mm commercial ply + veneer /laminate
                  finish up to Rs 50/sqft.(Size: 5’ x 2’ - 6’’ or 4’ x 4’)</td>
              </tr>
              <tr>
                <th scope="row">6 </th>
                <td>Kitchen </td>
                <td>Modular kitchen with 18mm water proof ply + 18mm ply shutters with laminate at Rs 50/sqft with
                  Hettich/Godrej hardware. <br>Accessories: 1 cutlery, 2 Tandem boxes, 1 bottle pullout and 2 plain
                  baskets (Size: up to 60sqft) <br>20mm thick Black color granite top up to Rs 135/sqft <br>SS double
                  dipper sink <br>Copper gas piping<br> 2" x 2" vitrified marbonite finished tiles up to Rs 150/sqft<br>
                  Breakfast counter - black granite<br> Ceramic wall tiles above kitchen slab up to Rs 60/sqft </td>
              </tr>
              <tr>
                <th scope="row">7 </th>
                <td>Utility </td>
                <td> 10mm thick Black granite top<br> Double dipper SS sink<br> 2" x 2" vitrified tiles up to Rs110/sqft
                  and ceramic tiles wall cladding where ever required up to Rs 60/ sqft (Only 4’ height wall)</td>
              </tr>
              <tr>
                <th scope="row"> 8</th>
                <td>Bedroom & washroom </td>
                <td> Laminated Wooden flooring up to Rs 150/sqft<br> Wardrobe - 18mm commercial ply + laminate up to Rs
                  50/sqft with Hettich hardware & fittings.(Size: 7’x7’+ 7’x2’ loft) <br> Accent wall - texture paint or
                  wallpaper (Size: 10’ x 10’)<br> Designer gypsum false ceiling excluding curves and wooden finish <br>
                  Toilet – Ceramic wall tiles up to Rs 70/sqft for floor and wall tiles. 2 vertical strips of
                  highlighter tiles of length 2’-0” wide <br>Bath tub up to Rs 15000/- <br>20,000/- allowance for
                  bathroom fixtures </td>
              </tr>
              <tr>
                <th scope="row">9 </th>
                <td>Stair case </td>
                <td> Semi polished granite flooring up to Rs 200/sqft <br>Railing of Sal wood up to Rs 1950/cft and SS
                  railing with glass (if teak wood Rs 1850/cft extra) </td>
              </tr>
              <tr>
                <th scope="row">10 </th>
                <td>Balcony </td>
                <td>Ceramic tiles for the flooring up to Rs 70/sqft<br> SS Railing with glass</td>
              </tr>
              <tr>
                <th scope="row">11 </th>
                <td>Terrace </td>
                <td>Paver tiles for the flooring up to Rs 70/sqft<br>2 Overhead tanks –Sintex tank each of 1000ltrs.Ms
                  staircases for Tank</td>
              </tr>
              <tr>
                <th scope="row"> 12</th>
                <td>Painting </td>
                <td>Plastic emulsion painting (Internal) – Asian<br> Exterior emulsion painting – Asian <br>Texture
                  paint - Asian</td>
              </tr>
              <tr>
                <th scope="row">13 </th>
                <td>Electrical </td>
                <td>All conduits and wiring <br> Wires - Finolex. Switches – Anchor/Legrand <br> Switches and
                  switchboard<br> Connections, points provided for UPS/AC points wherever required.
                </td>
              </tr>
              <tr>
                <th scope="row">14 </th>
                <td>Sump Work </td>
                <td>Sump with capacity up to 20,000 liters <br> Sump to be constructed with brick masonry </td>
              </tr>
              <tr>
                <th scope="row">15 </th>
                <td>Basement </td>
                <td>Basement shall be charged at @ Rs 900/sqft additional for construction and finishing (excluding
                  retaining wall)<br> Polished Granite flooring (steel grey or black) for dogleg stairs as per
                  Architect’s design <br>SS railing as per the design <br> 2" x 2" vitrified marbonite finished tiles up
                  to Rs 150/sqft </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Vist Later</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookmodal">Book Now</button>
      </div>
    </div>
  </div>
</div>

<!-- end pre -->


<!-- superpre modal  -->
<div class="modal fade" id="supermodal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">SUPER PREMIUM</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table" border="3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Items</th>
                <th scope="col">Features</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Car Porch Area</td>
                <td>Flooring: Paver tiles up to Rs 50/sqft <br> Electrical and plumbing points in this area/landscaping
                  area shall be provided as per Architects plan during stages of construction</td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Entrance Area</td>
                <td>Polished granite flooring (steel grey or black) up to Rs 140/ sqft </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Living room/Family room </td>
                <td>Italian marble flooring up to Rs 450/sqft<br> Designer gypsum false ceiling excluding curves and
                  wooden finish <br> Accent wall -texture paint or wallpaper (Size: 12’ x 10’)<br> Designer TV unit -
                  18mm commercial ply + laminate / veneer finish up to Rs50/sqft with Hettich hardware(Size:7’x6’)
                </td>
              </tr>
              <tr>
                <th scope="row">4 </th>
                <td>Verandah/Foyer </td>
                <td>Granite flooring up to Rs 140/sqft <br> Accent wall -texture paint or wallpaper (Size: 8’x10’) <br>
                  Shoe rack - 18mm commercial ply + 1mm laminate finish (internal white laminate and external with
                  laminate and louvers on each shutter)up to Rs 50/sqft with Hettich hardware/fittings.(Size : 4’ x
                  2’)
                  <br> Teak Wood door with teak wood frames with carving <br>Main door towel bolts, handles and lock
                  to
                  have bronze <br> Teak wood shutter windows with teak wood frames
                </td>
              </tr>
              <tr>
                <th scope="row"> 5</th>
                <td> Dining & Courtyard area </td>
                <td>Italian marble flooring up to Rs 200/sqft <br>Crockery unit with 18mm commercial ply + veneer
                  Polycoat finish(Size : 5’ x 2’ - 6’’ or 5’ x 4’)</td>
              </tr>
              <tr>
                <th scope="row">6 </th>
                <td>Kitchen </td>
                <td>Modular kitchen with 18mm water proof ply + 18mm ply shutters with acrylic at Rs.150 /sqft with
                  Hettich hardware and fittings Accessories: 1 cutlery, 2 Tandem boxes, 1 bottle pullout and 2 plain
                  baskets (Size: up to 70sqft). <br>20mm thick Black color granite top up to Rs 150/sqft with 40mm
                  nosing <br>Copper gas piping <br>SS double dipper sink<br>4" x 2" vitrified marbonite finished tiles
                  up to Rs 190/sqft <br> Breakfast counter - black leather finish granite<br> Ceramic wall tiles above
                  kitchen slab up to Rs 70/sqft</td>
              </tr>
              <tr>
                <th scope="row">7 </th>
                <td>Utility </td>
                <td> 10mm thick Black granite top<br> Double dipper SS sink<br> 2’x2’ vitrified marbonite finished tiles
                  up to Rs 150/sqft and ceramic tiles wall cladding where ever required up to Rs 80/ sq.ft</td>
              </tr>
              <tr>
                <th scope="row"> 8</th>
                <td>Bedroom & washroom </td>
                <td> Laminated Wooden flooring up to Rs 160/sqft<br>Wardrobe - 18mm commercial ply + polycoat/lacquered
                  glass/veneer finishes with Hettich hardware & fittings soft closing (size: 8’x7’ and 8’x2’ loft)
                  <br> Accent wall - texture paint or wallpaper (Size: 10’ x 10’)<br> Designer gypsum false ceiling
                  excluding curves and wooden finish <br>
                  Toilet – Ceramic wall tiles up to Rs 100/sqft for floor and wall tiles. 2 vertical strips of
                  highlighter tiles of length 2’-0” wide <br>Bath tub up to Rs 15000/- <br>25,000/- allowance for
                  bathroom fixtures
                </td>
              </tr>
              <tr>
                <th scope="row">9 </th>
                <td>Stair case </td>
                <td> Semi polished granite flooring up to Rs 200/sqft <br>Railing of Sal wood up to Rs 1950/cft and SS
                  railing with glass (if teak wood Rs 1850/cft extra) </td>
              </tr>
              <tr>
                <th scope="row">10 </th>
                <td>Balcony </td>
                <td>Ceramic tiles for the flooring up to Rs 70/sqft<br> SS Railing with glass</td>
              </tr>
              <tr>
                <th scope="row">11 </th>
                <td>Terrace </td>
                <td>Paver tiles for the flooring up to Rs 80/sqft<br>2 Overhead tanks –Sintex tank each of 1000ltrs, MS
                  stairs for the tank</td>
              </tr>
              <tr>
                <th scope="row"> 12</th>
                <td>Painting </td>
                <td>Plastic emulsion painting (Internal) – Asian<br> Exterior emulsion painting – Asian <br>Texture
                  paint - Asian</td>
              </tr>
              <tr>
                <th scope="row">13 </th>
                <td>Electrical </td>
                <td>All conduits and wiring <br> Wires - Finolex. Switches – Anchor/Legrand <br> Switches and
                  switchboard<br> Connections, points provided for UPS/AC points wherever required.
                </td>
              </tr>
              <tr>
                <th scope="row">14 </th>
                <td>Sump Work </td>
                <td>Sump with capacity up to 20,000 liters <br> Sump to be constructed with brick masonry </td>
              </tr>
              <tr>
                <th scope="row">15 </th>
                <td>Basement </td>
                <td>Basement shall be charged at @ Rs 900/sqft additional for construction and finishing (excluding
                  retaining wall)<br> Polished Granite flooring (steel grey or black) for dogleg stairs as per
                  Architect’s design <br>SS railing as per the design <br> 2" x 2" vitrified marbonite finished tiles
                  up
                  to Rs 150/sqft </td>
              </tr>
              <tr>
                <th scope="row">16 </th>
                <td>Family Living Room </td>
                <td>Wooden flooring up to Rs 250/sqft<br> Accent wall - texture paint (Size: 8’x10’ </td>
              </tr>
              <tr>
                <th scope="row">17 </th>
                <td>Court yard area </td>
                <td>Wooden flooring up to Rs 160/sqft <br> The area left out after the FF family living <br>Railing of
                  Sal wood up toRs 1950/cft and SS railing with glass (if teak wood Rs 1850/cft Extra)
                </td>
              </tr>
              <tr>
                <th scope="row">18 </th>
                <td>Study Room </td>
                <td>Laminated Wooden/Vitrified flooring up to Rs 160/sqft </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Vist Later</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookmodal">Book Now</button>
      </div>
    </div>
  </div>
</div>

<!-- end superpre -->


<!-- lux modal  -->
<div class="modal fade" id="luxmodal" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">LUXURY</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table" border="3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Items</th>
                <th scope="col">Features</th>


              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Car Porch Area</td>
                <td>Flooring: Paver tiles up to Rs 60/sqft <br> Electrical and plumbing points in this area/landscaping
                  area shall be provided as per Architects plan during stages of construction</td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Entrance Area</td>
                <td>Polished granite flooring (steel grey or black) up to Rs 160/ sqft </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Living room/Family room </td>
                <td>Italian marble flooring up to Rs 600/sqft<br> Designer gypsum false ceiling with wooden rafters on
                  the ceiling (plywood + teak veneer finish)<br> Accent wall -texture paint or wallpaper (Size: 12’ x
                  10’)<br> Designer TV unit -
                  18mm commercial ply + laminate / veneer finish up to Rs50/sqft with Hettich hardware(Size:8’x6’)
                </td>
              </tr>
              <tr>
                <th scope="row">4 </th>
                <td>Verandah/Foyer </td>
                <td>Granite flooring up to Rs 300/sqft <br> Accent wall -texture paint or wallpaper (Size: 8’x10’) <br>
                  Shoe rack - 18mm commercial ply + 1mm laminate finish (internal white laminate and external with
                  laminate and louvers on each shutter)up to Rs 50/sqft with Hettich hardware/fittings.(Size : 4’ x
                  2’)
                  <br> Teak Wood door with teak wood frames with carving <br>Main door towel bolts, handles and lock
                  to
                  have bronze <br> Teak wood shutter windows with teak wood frames
                </td>
              </tr>
              <tr>
                <th scope="row"> 5</th>
                <td> Dining & Courtyard area </td>
                <td>Italian marble flooring up to Rs 600/sqft <br>Crockery unit with 18mm commercial ply + veneer
                  Polycoat finish(Size : 5’ x 2’ - 6’’ or 5’ x 4’)</td>
              </tr>
              <tr>
                <th scope="row">6 </th>
                <td>Kitchen </td>
                <td>Modular kitchen with 18mm water proof ply + 18mm ply shutters with acrylic at Rs.150 /sqft with
                  Hettich hardware and fittings Accessories: 1 cutlery, 2 Tandem boxes, 1 bottle pullout , 2 plain
                  baskets and 1 corner unit.(Size: up to 80sqft). <br>20mm thick Black color granite top up to Rs
                  160/sqft with 40mm nosing <br>Copper gas piping <br>SS double dipper sink<br>4" x 2" vitrified
                  marbonite finished tiles up to Rs 220/sqft <br> Breakfast counter - black leather finish granite<br>
                  Ceramic wall tiles above kitchen slab up to Rs 80/sqft</td>
              </tr>
              <tr>
                <th scope="row">7 </th>
                <td>Utility </td>
                <td> 10mm thick Black granite top<br> Double dipper SS sink<br> 2’x2’ vitrified marbonite finished tiles
                  up to Rs 150/sqft and ceramic tiles wall cladding where ever required up to Rs 80/ sq.ft</td>
              </tr>
              <tr>
                <th scope="row"> 8</th>
                <td>Bedroom & washroom </td>
                <td> Laminated Wooden flooring up to Rs 190/sqft<br>Wardrobe - 18mm commercial ply + polycoat/lacquered
                  glass/veneer finishes with Hettich brand sliding hardware &fittings. (Size: 9’ x 7’ and 9’x2’)
                  <br> Accent wall - texture paint or wallpaper (Size: 10’ x 10’)<br> Designer gypsum false ceiling
                  <br>Toilet – Ceramic wall tiles up to Rs 100/sqft for floor and wall tiles. 2 vertical strips of
                  highlighter tiles of length 2’-0” wide <br>Bath tub up to Rs 15000/- <br>30,000/- allowance for
                  bathroom fixtures
                </td>
              </tr>
              <tr>
                <th scope="row">9 </th>
                <td>Stair case </td>
                <td> Semi polished granite flooring up to Rs 300/sqft <br>Railing of Teakwood and SS 304 railing with
                  glass </td>
              </tr>
              <tr>
                <th scope="row">10 </th>
                <td>Balcony </td>
                <td>Anti skid ceramic tiles for the flooring up to Rs 120/sqft<br> Railing SS with glass</td>
              </tr>
              <tr>
                <th scope="row">11 </th>
                <td>Terrace </td>
                <td>Paver tiles for the flooring up to Rs 9 0/sqft<br>2 Overhead tanks –Sintex tank each of 1000ltrs, MS
                  stairs for the tank</td>
              </tr>
              <tr>
                <th scope="row"> 12</th>
                <td>Painting </td>
                <td>Royal emulsion painting (Internal) – Asian<br> Exterior emulsion painting – Asian <br>Texture
                  paint - Asian</td>
              </tr>
              <tr>
                <th scope="row">13 </th>
                <td>Electrical </td>
                <td>All conduits and wiring <br> Wires - Finolex. Switches – Anchor/Legrand <br> Switches and
                  switchboard<br> Connections, points provided for UPS/AC points wherever required.
                </td>
              </tr>
              <tr>
                <th scope="row">14 </th>
                <td>Sump Work </td>
                <td>Sump with capacity up to 20,000 liters <br> Sump to be constructed with brick masonry </td>
              </tr>
              <tr>
                <th scope="row">15 </th>
                <td>Basement </td>
                <td>Basement shall be charged at @ Rs 900/sqft additional for construction and finishing (excluding
                  retaining wall)<br> Polished Granite flooring (steel grey or black) for dogleg stairs as per
                  Architect’s design <br>SS railing as per the design <br> 2" x 2" vitrified marbonite finished tiles
                  up
                  to Rs 150/sqft </td>
              </tr>
              <tr>
                <th scope="row">16 </th>
                <td>Family Living Room </td>
                <td>Italian marble flooring up to Rs 300/sqft<br> Accent wall - texture paint (Size: 12’x10’) </td>
              </tr>
              <tr>
                <th scope="row">17 </th>
                <td>Court yard area </td>
                <td>Italian marble flooring up to Rs 650/sqft <br> The area left out after the FF family living
                  <br>Railing of Teak wood and SS 304 railing with glass
                </td>
              </tr>
              <tr>
                <th scope="row">18 </th>
                <td>Study Room </td>
                <td>Laminated Wooden/Vitrified flooring up to Rs 190/sqft </td>
              </tr>
              <tr>
                <th scope="row">19 </th>
                <td>Bed Room 1 and toilet</td>
                <td>Laminated Wooden/Vitrified flooring up to Rs 190/sqft <br>Wardrobe - 18mm commercial ply +
                  laminate/veneer /polycoat/lacquered glass with Hettich brand sliding hardware & fittings soft
                  closing (size: 8’x7’ and 8’x 2’ loft) <br>Accent wall - (texture paint or wallpaper) (Size : 10’ x
                  10’) <br>Toilet – Ceramic wall tiles up to Rs 120/sqft for floor and wall tiles. 2 vertical strips
                  of highlighter tiles of length 2’-0”wide <br>Shower glass cubicle <br>Rs 30,000/- allowance for
                  bathroom fixtures

                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Vist Later</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#bookmodal">Book Now</button>
      </div>
    </div>
  </div>
</div>

<!-- end lux -->


<!-- booking modal -->
<div class="modal fade" id="bookmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">


      <div class="card d-flex justify-content-center mx-auto  p-5">
        <h5 class="text-muted"> Give us details, and we’ll get back to you </h5>
        <form action="" id="modalbooking">
          <div class="form-row">
            <div class="form-group col-md-6 first"> <label for="inputFirstName">NAME <span>*</span></label> <input
                type="text" class="form-control" id="" name="name">
            </div>
            <div class="form-group col-md-6 first"> <label for="">LOCATION <span>*</span></label> <input type="text"
                class="form-control" id="" name="location">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6"> <label for="inputEmail">EMAIL <span>*</span></label> <input type="email"
                class="form-control" id="" name="email">
            </div>
            <div class="form-group col-md-6"> <label for="inputPhone">PHONE <span>*</span></label> <input type="tel"
                class="form-control" id="phone" name="phone">
            </div>
          </div>
          <div class="mb-4 pb-2">
            <select class="select  form-control form-control-lg">
              <option value="" disabled selected>PACKAGE YOU NEED</option>
              <option value="STANDARD PACKAGE">STANDARD PACKAGE</option>
              <option value="PREMIUM PACKAGE">PREMIUM PACKAGE</option>
              <option value="SUPER PREMIUM">SUPER PREMIUM</option>
              <option value="LUXURY">LUXURY</option>
            </select>
          </div>

          <!-- <div class="form-check form-check-inline"> <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> <label class="form-check-label" for="inlineCheckbox1">&nbsp;&nbsp;Send me offers & updates</label> </div> -->
          <div class="form-button pt-4"> <button type="submit"
              class="btn btn-primary btn-block"><span>SUBMIT</span></button> </div>
        </form>

      </div>


    </div>
  </div>
</div>
<!-- end booking modal -->
<script src="{% static 'js/home.js' %}"></script>



<!-- scollling -->
<script>
  $(function () {
    $(document).scroll(function () {
      var $nav = $("#mainNavbar");
      $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
    });
  });



 

</script>

{% endblock %}