{% extends 'master.html' %}
{% block content %}
{% load static %}
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<style>
  


    /* modal */

    .wrapper {
        padding: 30px 50px;
        border: 1px solid #ddd;
        border-radius: 15px;
        margin: 10px auto;
        max-width: 600px
    }

    h4 {
        letter-spacing: -1px;
        font-weight: 400
    }

    .img {
        width: 70px;
        height: 70px;
        border-radius: 6px;
        object-fit: cover
    }

    #img-section p,
    #deactivate p {
        font-size: 12px;
        color: #777;
        margin-bottom: 10px;
        text-align: justify
    }

    #img-section b,
    #img-section button,
    #deactivate b {
        font-size: 14px
    }

    label {
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 500;
        color: #777;
        padding-left: 3px
    }

    .form-control {
        border-radius: 10px
    }

    input[placeholder] {
        font-weight: 500
    }

    .form-control:focus {
        box-shadow: none;
        border: 1.5px solid #0779e4
    }

    select {
        display: block;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 10px;
        height: 40px;
        padding: 5px 10px
    }

    select:focus {
        outline: none
    }

    .button {
        background-color: #fff;
        color: #0779e4
    }

    .button:hover {
        background-color: #0779e4;
        color: #fff
    }

    .btn-primary {
        background-color: #0779e4
    }

    .danger {
        background-color: #fff;
        color: #e20404;
        border: 1px solid #ddd
    }

    .danger:hover {
        background-color: #e20404;
        color: #fff
    }

    @media(max-width:576px) {
        .wrapper {
            padding: 25px 20px
        }

        #deactivate {
            line-height: 18px
        }
    }

    /* modal end */



/* body{
    background: -webkit-linear-gradient(left, #3931af, #00c6ff);
} */
.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 70%;
    height: 100%;
}
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
    /*  */












    /*  */
    


</style>


<link rel="stylesheet" href="{% static 'css/profile1.css' %}">


<!--  -->

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="{% static 'img/p2.png' %}" class="img-fluid" style="max-width: 44%;" alt=""/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5><strong>Shadil K.M</strong></h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="profile-edit-btn"  data-toggle="modal" data-target="#proedit" value="Edit Profile"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>DETAILS</p>
                            <a href="">Work order</a><br/>
                            <a href="">Messages</a><br/>
                            <a href="">Notification</a>
                            
                        </div>
                    </div>
                    <div class="col-md-8">
                        <h3><strong>About</strong></h3>
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>her_super_man</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>shadilkm</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>kshitighelani@gmail.com</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Phone</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>123 456 7890</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Address</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>abc house malappuram</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Pincode</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>674545</p>
                                            </div>
                                        </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </form>           
        </div>
   




<!-- Modal -->
<div class="modal fade" id="proedit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="wrapper bg-white ">
                <h4 class="pb-4 border-bottom">Profile settings</h4>
                <div class="d-flex align-items-start py-3 border-bottom"> <img src="{% static 'img/p2.png' %}"
                        class="img" alt="">
                    <div class="pl-sm-4 pl-2" id="img-section"> <b>Profile Photo</b>
                        <p>Accepted file type .png. Less than 1MB</p> <input type="file" name="" id="">
                    </div>
                </div>
                <div class="py-2">
                    <form action="" id="editprofile">
                        <div class="row py-2">
                            <div class="col-md-6"> <label for="firstname">First Name</label> <input type="text"
                                    class="bg-light form-control" name="name" placeholder="shadilkm"> </div>
                            <div class="col-md-6 pt-md-0 pt-3"> <label for="lastname">User name</label> <input
                                    type="text" name="username" class="bg-light form-control"
                                    placeholder="her_super_man"> </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-6"> <label for="email">Email Address</label> <input type="text"
                                    class="bg-light form-control" name="email" placeholder="steve_@email.com"> </div>
                            <div class="col-md-6 pt-md-0 pt-3"> <label for="phone">Phone Number</label> <input
                                    type="tel" name="phone" class="bg-light form-control" placeholder="98754677"> </div>
                        </div>
                        <div class="row py-2">
                            <div class="col-md-6"> <label for="pin">PinCode</label> <input type="text"
                                    class="bg-light form-control" name="pincode" placeholder="674545"> </div>
                            <div class="col-md-6 pt-md-0 pt-3"> <label for="add">address</label> <input type="tel"
                                    class="bg-light form-control" name="addre" placeholder="Abc address"> </div>
                        </div>
                        <div class="py-3 pb-4 border-bottom"> <button type="submit" class="btn btn-primary mr-3">Save
                                Changes</button>
                            <a href="profile"><button class="btn border button">Cancel</button></a>
                        </div>
                    </form>
                    <div class="d-sm-flex align-items-center pt-3" id="deactivate">
                        <div> <b>Deactivate your account</b>
                            <p>Details about your company account and password</p>
                        </div>
                        <div class="ml-auto"> <button class="btn danger">Deactivate</button> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="{% static 'js/profile.js' %}"></script>

<script>
 
</script>
{% endblock %}