{% extends 'master.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/view.css' %}">


<!-- <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script> -->
<!--  -->
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!--  -->






<style>
    body{
              padding-top: 100px;

    }
    .navbar{
      background-image: linear-gradient(to left, #000428, #004e92);

    }
  .error {
    color: red;
  }

  .row1 {
    padding: 50px;
  }

  .form {
    height: 500px;
    width: 300px;
    background-color: white;
    justify-content: center;
    text-align: center;
  }

  .form input {
    padding: 3px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
  }

  .form select {

    border-radius: 10px;
  }

  .form button {
    margin: 10px;
    padding: 3px;
    height: 40px;
    width: 100px;
    border-radius: 20px;

  }

  #quickform button {
    background-color: #004e92;
    height: 40px;
    color: white;
    border-radius: 20px;
  }
</style>

<div class="container ">
  <div class="row" style="margin: 0;">
    <div class="col-lg-12">
      <h3 class="text-center mt-5">Quick Booking</h3><br>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" style="margin: 0;">
      <form id="quickform">
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" class="form-control" name="name" id="" placeholder="Enter your Name">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Place</label>
            <input type="text" name="place" class="form-control" id="" placeholder="Enter your Place">
          </div>
          <div class="form-group col-md-6">
            <label for="">Phone</label>
            <input type="text" name="phone" class="form-control" id="" placeholder="Enter your Mobile Number">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputAddress">Address </label>
            <input type="text" class="form-control" id="" name="address" placeholder="Enter your address">
          </div>

          <div class="form-group col-md-6">
            <label for="land">Landmark</label>
            <input type="text" class="form-control" id="" name="landmark" placeholder="Enter your Landmark">
          </div>
        </div>


        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="" name="city" placeholder="Enter your City">
          </div>

          <div class="form-group col-md-4">
            <label for="">Location</label>
            <input type="text" class="form-control" id="" name="location" placeholder="Enter your Location">
          </div>
          <div class="form-group col-md-4">
            <label for="">Pincode</label>
            <input type="text" class="form-control" id="" name="pincode" placeholder="Enter your Pincode">
          </div>

        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="">Date</label>
            <input type="date" class="form-control" id="">
          </div>

          <div class="form-group col-md-6">
            <label for="">Time</label>
            <input type="time" class="form-control" id="">
          </div>


        </div>

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
        <button type="submit">Book Now</button>
      </form>

    </div>
    <div class="col-md-6 ">
      <div id="carouselExampleSlidesOnly" class="carousel " data-ride="carousel">
        <div class="carousel-inner  mt-5">
          <div class="carousel-item active">
            <img src="{% static 'img/booknow.jpg' %}" class=" img-thumbnail" alt="...">

          </div>

        </div>
      </div>
    </div>
  </div>


</div>
<div class="container-fluid">
  <div class="row  row1" style="margin: 0;">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=1027">
        </div>
        <div class="team-content">
          <h3 class="name">Michele Miller</h3>
          <h4 class="title">Computer Service</h4>
          <a href="wrkpro" style="color: black; text-decoration: none;">view profile</a>
        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>

    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=839">
        </div>
        <div class="team-content">
          <h3 class="name">Patricia Knott</h3>
          <h4 class="title">Computer Service</h4>
          <a href="wrkpro" style="color: black; text-decoration: none;">view profile</a>

        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="https://picsum.photos/130/130?image=856">
        </div>
        <div class="team-content">
          <h3 class="name">Justin Ramos</h3>
          <h4 class="title">Computer Service</h4>
          <a href="wrkpro" style="color: black; text-decoration: none;">view profile</a>

        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="our-team">
        <div class="picture">
          <a href=""><img class="img-fluid" src="https://picsum.photos/130/130?image=836"></a>
        </div>
        <div class="team-content">
          <h3 class="name">Mary Huntley</h3>
          <h4 class="title">Computer Service</h4>
          <a href="wrkpro" style="color: black; text-decoration: none;">view profile</a>


        </div>
        <ul class="social">
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-facebook" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-twitter" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-google-plus" aria-hidden="true"></a></li>
          <li><a href="https://codepen.io/collection/XdWJOQ/" class="fab fa-linkedin" aria-hidden="true"></a></li>
        </ul>
      </div>
    </div>
  </div>


</div>
<script>



  $('#selectbox').click(function () {
    if ($('#selectbox').val() == "Electronics") {
      $('#electronicbox').show()
    } else {
      $('#electronicbox').hide()
    }

  });

  $("#quickform").validate({
    rules: {
      name: {
        required: true,
        minlength: 5,
      },
      place: {
        required: true,
        minlength: 5,
      },
      email: {
        required: true,
        email: true,

      },
      phone: {
        required: true,
        number: true,
        maxlength: 10,
        minlength: 10,
      },
      address: {
        required: true,
        minlength: 5,
      },
      landmark: {
        required: true,
        minlength: 5,
      },
      city: {
        required: true,
        minlength: 5,
      },
      location: {
        required: true,
        minlength: 5,
      },
      pincode: {
        required: true,
        number: true,
        maxlength: 6,
        minlength: 6,
      },

    },

    messages: {

      name: {
        required: "*please fill this field",
        minlength: "atleast 5"
      },
      place: {
        required: "please fill this field",
        minlength: "atleast 5"
      },

      email: {
        required: "enter email id",
        email: "enter a valid email id",

      },
      phone: {
        required: 'enter phone number',
        number: 'valid phone number',
        maxlength: 'no more than 10  ',
        minlength: 'no less than 10',
      },
      address: {
        required: "*please fill this field",
        minlength: "atleast 5"
      },
      landmark: {
        required: "please fill this field",
        minlength: "atleast 5"
      },
      city: {
        required: "*please fill this field",
        minlength: "atleast 5"
      },
      location: {
        required: "please fill this field",
        minlength: "atleast 5"
      },
      pincode: {
        required: "*please fill this field",
        number: 'valid pincode ',
        maxlength: 'no more than 6 ',
        minlength: 'no less than 6',

      },


    },

    SubmitHandler: function (quickform) {
      form.submit();
    }
  });


</script>


{% endblock %}