{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow border-0 mb-7 my-auto">
                <div class="card-header text-right mr-auto">
                    <h5 class="mb-0 text-center">User Request</h5>
                </div>
                <div class="table-responsive ">
                    <table id="example" class="table table-hover table-striped table-bordered nowrap"
                        style="width:100%">
                        <thead class="thead-light head">
                            <tr>
                                <th style="font-weight: 900; background-color: bisque;">First name</th>
                                <th style="font-weight: 900; background-color: bisque;">Last name</th>
                                <th style="font-weight: 900; background-color: bisque;">E-mail</th>
                                <th style="font-weight: 900; background-color: bisque;">Phone</th>
                                <th style="font-weight: 900; background-color: bisque;">Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger</td>
                                <td>kv</td>
                                <td>t.nixon@datatables.net</td>
                                <td>098765656</td>
                                <td>Add more content</td>
                            </tr>
                            <tr>
                                <td>shahil</td>
                                <td>khan</td>
                                <td>shahil@datatables.net</td>
                                <td>9207218025</td>
                                <td>i need a job</td>

                            </tr>
                            <tr>
                                <td>harshin</td>
                                <td>k</td>
                                <td>harshin@datatables.net</td>
                                <td>987645654</td>
                                <td>Worker not good</td>

                            </tr>
                            <tr>
                                <td>vivek</td>
                                <td>nhc</td>
                                <td>vievkn@datatables.net</td>
                                <td>5468768990</td>
                                <td>website is good</td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock %}